@font-face {
    font-family: SplatoonFont2;
    src: url(./Splatfont2.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.css_imageContainer {
    display: flex;
    align-content: right;
    margin-left: auto;
}

.css_locale, .css_caption {
    margin: auto;
    align-content: center;
    text-align: center;
}

/* this was created by GPT, it automatically spaces the buttons out across the div's width span */
.css_choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
/* gpt free zone from here on */

button {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 36px;
    background-color: rgb(56, 82, 167);
    border-radius: 15px;
    border: none;
    font-size: medium;
    transition: background-color 1s ease, box-shadow 0.3s ease;
    -webkit-text-stroke: 0.5px black;
}

button:hover {
    background-color: rgb(18, 34, 109);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.705);
}

* {
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: "SplatoonFont2", sans-serif;
}

p {
    font-size: 20px;
    font-weight: bold;
}

p#bioOverlayText {
   padding: 45px;
   font-size: 25px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 33px;
}

#imageToolTipContainer {
    text-align: right;
    margin-left: auto;
    font-weight: bold;
}


/* ---------------------------------------------------------*/
/* Styles for the overlay displaying an image in fullscreen */
/* Stolen from the textbook!!                               */
/* ---------------------------------------------------------*/

/* Styles for the overlay */
div#bioOverlay {
   position: fixed;                        /* Overlay is fixed on screen */
   z-index: 1;                             /* Overlay sits on top of other content */
   width: 100%;                            /* Full width */
   height: 100%;                           /* Full height */
   background-color: rgba(0, 62, 104, 0.85);  /* Semitransparent blue background */
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Styles for the overlay close button */
div#bioOverlay div#bioOverlayClose {
   position: absolute;
   top: 20px;
   right: 40px;
   color: #f1f1f1;
   font-size: 40px;
   cursor: pointer;
   user-select: none;
}

/* Hovering styles for the modal window close button */
div#bioOverlay div#bioOverlayClose:hover {
   color: #F7F1A9;
}

/* Keyframe animation for the opening of the modal window figure and caption */
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}